<!--
  Generated template for the EstatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Estates</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item-group *ngFor="let region of estates">
    <ion-item-divider *ngIf="region.regionEstates.length != 0"  color="secondary" >{{region.regionName}}</ion-item-divider>

    <button ion-item *ngFor="let estate of region.regionEstates" (click)="itemTapped($event, estate)">
      <ion-row>
        <ion-col>
          <div>
            <ion-thumbnail>
              <img [src]="estate.image">
            </ion-thumbnail>
          </div>
        </ion-col>
        <ion-col>
          Ref No.{{estate.refNumber}}
          <p>{{estate.type}}, {{estate.bedrooms}} bedrooms</p>
          <br>
          <p>{{selectedLocation.name}}, {{estate.region}}</p>
        </ion-col>
        <ion-col>
          <br>
          <br>
          <h3 ion-text color="primary">VIEW</h3>
        </ion-col>
      </ion-row>
    </button>
  </ion-item-group>
</ion-content>
